main{
  overflow: hidden;
}

.user-profile{
  position: absolute;
  top: 0; 
  right: 0; 
  background: #DDD;
  height: 100%;
  width: 400px;
  transition: all 500ms;
  border-left: 1px solid darkgrey;
  padding: 1em;
}
.user-profile.show{
  margin-right: -400px;
}


.sidebar{
  width: 300px;
  background: #333;
  position: relative;
  /* padding: 0 1em; */
  transition: all 500ms;
  position: absolute;
  height: 100%;
}

.sidebar.hide{
  margin-left: -300px
}

.sidebar-control{
  position: absolute;
  top: 60px;
  right: -20px;
  width: 20px;
  padding: 0 5px;
  background: #333;
  color: #777;
  border-radius: 0 10px 10px 0;
  height: 35px;
  font-size: 20px;
  cursor: pointer;
}

.content{
  margin-left: 300px;
  transition: all 500ms;
  flex-grow: 1;
}
.content.full{
  margin-left: 0px
}

.menu-option{
  margin: 0.5rem 0;
  color: #DDD;
  text-decoration: none;
  cursor: pointer;
}
.menu-option a{
  color: #DDD;
  text-decoration: none;
  cursor: pointer;
}
.menu-option a:hover{
  color: #999
}
.menu-option:hover{
  color: #999
}
.menu-option.active{
  color: #999
}
.menu-option.active a{
  color: #999
}


.badge{
  margin: 2px;
  border-radius: 1em;
  font-weight: 300;
}


.background-logo{ 
  background-color: #FFFFFF;
  position: fixed;
  height: 80px;
  width: 298px;
  margin-left: -15px;
  margin-right: 0px;
  z-index: 0;
}

.logo-img
{
  z-index: 1; 
  position: relative;
}

#logo
{
  height: 50px;
  padding-left: 5px;
  padding-top: 10px;
}

